body {
    --back-light: #fafaf8;
    --navbar-color: var(--light-warning);
    --super-navbar-color: var(--dark-warning);
    --sidebar-width: 0;
}
.pagination > li > a {
    padding: 6px 12px;
}
.super-title {
    margin-top: 2rem;
}
.subtitle {
    margin: 1.5rem 0 2rem;
    font-size: 1.2rem;
    color: #444;
}
.block {
    padding: 1.2rem;
    background: #fff;
}
.block-title {
    margin: 0 0 2rem;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(50%);
}

/* LOADABLE */

.loadable-container {
    position: relative;
}
.loadable-container > .loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PAGE */

.page h1 {
    margin: 2rem 0;
}
.page-head {
    position: relative;
}
.page > h4 {
    color: #888;
}

/* USER TOGGLE */

.user-toggle {
    display: inline-block;
    cursor: pointer;
    color: #666;
    padding: 0 12px;
}
.user-toggle:hover {
    color: var(--dark-primary);
}

/* CART TOGGLE */

.cart-toggle {
    display: inline-block;
    cursor: pointer;
    color: #bbb;
}
.cart-toggle.has-item {
    color: var(--dark-danger);
}
.cart-toggle:hover {
    color: var(--dark-primary);
}
.cart-toggle .icon {
    margin-right: 5px;
}

/* SEARCH FORM */

.search-form {
    padding: 15px 0;
    margin: 30px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* ITEM */

.row-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeeee;
}
.row-item:nth-child(odd) {
    background: #f6f8f8;
}
.cell {
    padding: 15px;
    overflow: hidden;
}
.cell > label {
    color: #888;
}

.item .form {
    margin-bottom: 40px;
}
.item .form-set + .form-set {
    margin-top: 20px;
}
.item .form-set legend {
    border-color: #ccc;
}
.item.in-cart .buy-block,
.item .buyed-block,
.item [data-el="data"] {
    display: none;
}
.item.in-cart .buyed-block,
.item.active [data-el="data"] {
    display: block;
}

.item-card {
    height: 350px;
    margin: 0 auto 30px;
    padding: 15px;
    max-width: 320px;
    background: #fff;
    overflow: auto;
    border-bottom: 2px solid var(--dark-primary);
}
.item-card .brief {
    margin-top: 10px;
}
.item-card h4 {
    margin: 20px 0 15px;
}
.item-card .img-thumbnail {
    margin: 0 auto;
    max-width: 180px;
    min-height: 150px;
}

/* CATEGORY */

.category-card {
    margin: 0 auto 20px;
    padding: 15px;
    background: #fff;
    overflow: auto;
    border-bottom: 2px solid var(--dark-primary);
    text-align: center;
    max-width: 320px;
}
.category-card .img-thumbnail {
    margin: 0 auto;
    max-width: 75%;
    min-height: 110px;
    border: none;
}
.category-card h3 a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
}

.subcategories .category-card {
    padding: 10px;
}
.subcategories .category-card h4 {
    font-size: 16px;
    margin-top: 20px;
}
.subcategories {
    margin: 40px 0 10px 0;
}
.subcategories > h3 {
    margin-bottom: 20px;
}
.subcategories .img-thumbnail {
    margin-bottom: 5px;
}

/* CART */

.cart-items {
    border-bottom: 1px solid #aaa;
}

.cart-item {
    display: flex;
    align-items: center;
    background: #eeeeee;
}
.cart-item:nth-child(odd) {
    background: #f6f8f8;
}
.cart-item > div {
    padding: 10px;
}
.cart-item .img-thumbnail {
    margin: 0;
}
.cart-item-name {
    width: 30%;
}
.cart-item-quantity {
    width: 20%;
}
.cart-item-price {
    width: 30%;
}
.cart-item-command {
    font-size: 16px;
    user-select: none;
    white-space: nowrap;
}
.cart-item-command span {
    cursor: pointer;
    color: var(--dark-primary);
    margin-left: 15px;
}
.cart-item-command [data-command="remove"] {
    color: var(--dark-danger);
    margin-left: 25px;
}

.cart-total {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-total .num {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}
.cart-total button {
    margin-left: 15px;
}

/* ORDER */

.order .row-item .cell:nth-child(2) {
    width: 50%;
}

.order-items {
    border-bottom: 1px solid #aaa;
}
.order-item-id {
    width: 20%;
    overflow: hidden;
}
.order-item-id .value,
.order-item-price .value {
    font-weight: bold;
}

/* CAROUSEL */

.carousel.hide-controls .carousel-control {
    display: none !important;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    margin: 0 auto;
    min-height: 480px;
}
.carousel-control,
.carousel-caption {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 1)
}
.carousel-control-next i,
.carousel-control-prev i {
    font-size: 2rem;
    color: #ffa;
    text-shadow: 2px 2px 5px black, -2px -2px 5px black;
}