<template id="item">
    <div class="page">
        <div class="loadable-container">
            <template v-if="!loading && id">

                <breadcrumbs :cart="cart">
                    <template #path>
                        <li class="breadcrumb-item">
                            <a @click.prevent="toMain" href="#" data-t="">Main</a>
                        </li>
                        <li v-if="category" class="breadcrumb-item">
                            <a @click.prevent="onCategory(category)" href="#">{{categoryTitle}}</a>
                        </li>
                        <li class="breadcrumb-item" data-t="">{{name}}</li>
                    </template>
                </breadcrumbs>

                <h1>{{name}}</h1>
                <h4 class="subtitle">{{brief}}</h4>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form">

                            <fieldset v-if="options.length" class="form-set">
                                <legend data-t="">Options</legend>
                                <div class="options-container">
                                    <div v-for="item of options" class="form-group row">
                                        <label class="col-3 col-form-label" data-t="">{{item.label}}</label>
                                        <div class="col-9">
                                            <select v-if="item.values.length > 1"
                                                    v-model="optionValues[item.name]"
                                                    class="option-control form-select">
                                                <option value=""></option>
                                                <option v-for="value of item.values">{{value}}</option>
                                            </select>
                                            <div v-else class="form-control-plaintext">{{item.values[0]}}</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset v-if="activeVariant" class="form-set">
                                <legend data-t="">Data</legend>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label" data-t="">Price</label>
                                    <div class="col-9">
                                        <div class="form-control-plaintext">{{price}}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label" data-t="">In stock</label>
                                    <div class="col-9">
                                        <div class="form-control-plaintext">{{inStock}}</div>
                                    </div>
                                </div>
                                <div v-if="inCart" class="buyed-block form-group">
                                    <div class="form-group row">
                                        <div class="col-9 offset-3">
                                            <button @click="onCart" class="btn-success btn" title="Go to cart">
                                                <span data-t="">Item in cart</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div v-else class="buy-block form-group">
                                    <div class="form-group row required">
                                        <label class="col-3 col-form-label" data-t="">Quantity</label>
                                        <div class="col-9">
                                            <input v-model.number="quantity" type="number" class="form-control">
                                            <div class="error-block"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-9 offset-3">
                                            <button @click="onBuy" type="button" class="btn-primary btn">
                                                <span data-t="">Add to cart</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div v-if="photos.length" id="item-photos" class="carousel slide mb-3" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div v-for="(item, index) of photos"
                                     :class="{'active': !index, 'carousel-item': true}"
                                     :key="item.id">
                                    <img :src="item.url" class="d-block w-100 img-fluid img-thumbnail" alt="">
                                </div>
                            </div>
                            <template v-if="photos.length > 1">
                                <button class="carousel-control-prev" data-bs-target="#item-photos" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" data-bs-target="#item-photos" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </template>
                        </div>
                        <div class="description">
                            <fieldset class="form-set">
                                <legend data-t="">Description</legend>
                                <div>{{description}}</div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </template>

            <div v-show="loading" class="loader">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</template>