
<template data-id="item">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="item-card" data-id="{{_id}}">
            <a href="#" data-action="item" title="{{name}}">
                <img data-src="<%- _url('/api/base/file/thumbnail') %>?s=small&c=photo&id={{photo}}"
                     class="thumbnail img-responsive" alt="{{name}}">
            </a>
            <h4><a href="#" data-action="item" title="{{name}}">{{name}}</a></h4>
            <div class="price"><span data-t="">Price</span>: <b>{{price}}</b></div>
            <div class="brief">{{brief}}</div>
        </div>
    </div>
</template>