<template id="order">
  <div class="order page">

    <breadcrumbs :cart="cart">
      <template #path>
        <li class="breadcrumb-item">
          <a @click.prevent="toMain" href="#" data-t="">Main</a>
        </li>
        <li class="breadcrumb-item">
          <a @click.prevent="toOrders" href="#" data-t="">Orders</a>
        </li>
        <li class="breadcrumb-item" data-t="">Order</li>
      </template>
    </breadcrumbs>

    <div class="loadable-container">
      <template v-show="!loading">

        <h1><span data-t="">Order</span> #{{id}}</h1>

        <div class="row">
          <div class="col-md-4">
            <div class="form">
              <div class="form-group row">
                <label class="col-4 col-form-label" data-t="">Created at</label>
                <div class="col-8">
                  <div class="form-control-plaintext">{{date | datetime}}</div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label" data-t="">Agreed</label>
                <div class="col-8">
                  <div class="form-control-plaintext">{{agreed | boolean}}</div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label" data-t="">Paid</label>
                <div class="col-8">
                  <div class="form-control-plaintext">{{paid | boolean}}</div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label" data-t="">Shipped</label>
                <div class="col-8">
                  <div class="form-control-plaintext">{{shipped | boolean}}</div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label" data-t="">Cancelled</label>
                <div class="col-8">
                  <div class="form-control-plaintext">{{cancelled | boolean}}</div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label" data-t="">Total price</label>
                <div class="col-8">
                  <div class="form-control-plaintext"><b>{{total}}</b></div>
                </div>
              </div>
              <div v-if="!agreed" class="form-group row">
                <div class="offset-4 col-8">
                  <button @click="onDelete" class="btn-danger btn" type="button">
                    <span data-t="">Delete order</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="item-list">
              <div v-for="item of items" :key="item.id" class="row-item">
                <div class="cell">
                  <a v-if="item.photo" @click.prevent="onItem(item.itemId)" href="#">
                    <img :src="item.photo" class="img-fluid img-thumbnail" alt="">
                  </a>
                </div>
                <div class="cell">
                  <label data-t="">Name</label>
                  <div class="value">
                    <a @click.prevent="onItem(item.itemId)" href="#">{{item.name}}</a>
                  </div>
                </div>
                <div class="cell">
                  <label data-t="">Quantity</label>
                  <div class="value">{{item.quantity}}</div>
                </div>
                <div class="cell">
                  <label data-t="">Price</label>
                  <div class="value">{{item.price}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>

      <div v-show="loading" class="loader">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>
</template>