<template id="orders">
    <div class="page">

        <breadcrumbs :cart="cart">
            <template #path>
                <li class="breadcrumb-item">
                    <a @click.prevent="toMain" href="#" data-t="">Main</a>
                </li>
                <li class="breadcrumb-item" data-t="">Orders</li>
            </template>
        </breadcrumbs>

        <h1 data-t="">Orders</h1>

        <div class="loadable-container">

            <div v-if="!empty" class="order-items">
                <div v-for="item of items" :key="item.id" class="order-item row-item">
                    <div class="order-item-id cell">
                        <label data-t="">Order number</label>
                        <div class="value">
                            <a @click.prevent="onDetails(item.id)" href="#">#{{item.id}}</a>
                        </div>
                    </div>
                    <div class="order-item-agreed cell">
                        <label data-t="">Agreed</label>
                        <div class="value">{{item.agreed | boolean}}</div>
                    </div>
                    <div class="order-item-paid cell">
                        <label data-t="">Paid</label>
                        <div class="value">{{item.paid | boolean}}</div>
                    </div>
                    <div class="order-item-shipped cell">
                        <label data-t="">Shipped</label>
                        <div class="value">{{item.shipped | boolean}}</div>
                    </div>
                    <div class="order-item-cancelled cell">
                        <label data-t="">Cancelled</label>
                        <div class="value">{{item.cancelled | boolean}}</div>
                    </div>
                    <div class="order-item-date cell">
                        <label data-t="">Created at</label>
                        <div class="value">{{item.date | datetime}}</div>
                    </div>
                </div>
            </div>

            <pagination></pagination>

            <div v-show="!loading && empty" class="alert-warning alert">
                <span data-t="">You have no orders</span>
            </div>

            <div v-show="loading" class="loader">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</template>