<template id="search">
    <form @submit.prevent="onSubmit" class="search-form">
        <div class="input-group">
            <input v-model="text" type="search" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </form>
</template>